@media(max-height: 900px){
	.cases{
		--cases-width: 62px;
	}
	h1{
		margin: 4vh;
	}
}

@media(max-height: 820px){
	.cases{
		--cases-width: 53px;
	}
	.keyboard{
		--keyboard-percentage: 90vw;
	}
	h1{
		margin: 3vh;
	}
}

@media(max-height: 740px){
	h1{
		font-size: 30px;
		margin: 2vh;
	}
	.cases{
		--cases-width: 45px;
	}
}

@media(max-height: 690px){
	.cases{
		--cases-width: 36px;
	}
}

@media(max-height: 500px){
	.cases{
		--cases-width: 30px;
	}
}

@media(max-width: 1600px){
	.keyboard{
		--keyboard-percentage: 50%;
	}
}

@media(max-width: 1200px){
	.keyboard{
		--keyboard-percentage: 70%;
	}
}

@media(max-width: 800px){
	.keyboard{
		--keyboard-percentage: 80%;
	}
}

@media(max-width: 600px){
	.keyboard{
		--keyboard-percentage: 90%;
	}
}
